In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
s = pd.Series([1,3,5,7.8,6,8])

In [5]:
s

0    1.0
1    3.0
2    5.0
3    7.8
4    6.0
5    8.0
dtype: float64

In [6]:
dates = pd.date_range('20130101', periods=6)

In [7]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
list('ABCD')

['A', 'B', 'C', 'D']

In [9]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [10]:
df

                   A         B         C         D
2013-01-01 -2.132205 -0.614831  1.180666 -0.361898
2013-01-02  0.239504  0.989856  0.255592 -1.859635
2013-01-03  1.008913 -0.865443 -0.836827  0.160541
2013-01-04  0.381261 -0.436875  0.415225 -0.722504
2013-01-05 -0.225437  0.915924 -0.746843 -2.321330
2013-01-06  0.115119 -1.631890  0.728192 -0.036008

In [11]:
df2 = pd.DataFrame({ 'A' : 1.,
   ....:                      'B' : pd.Timestamp('20130102'),
   ....:                      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
   ....:                      'D' : np.array([3] * 4,dtype='int32'),
   ....:                      'E' : pd.Categorical(["test","train","test","train"]),
   ....:                      'F' : 'foo' })

In [12]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [14]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [15]:
df.head()

                   A         B         C         D
2013-01-01 -2.132205 -0.614831  1.180666 -0.361898
2013-01-02  0.239504  0.989856  0.255592 -1.859635
2013-01-03  1.008913 -0.865443 -0.836827  0.160541
2013-01-04  0.381261 -0.436875  0.415225 -0.722504
2013-01-05 -0.225437  0.915924 -0.746843 -2.321330

In [18]:
df.tail(2)

                   A         B         C         D
2013-01-05 -0.225437  0.915924 -0.746843 -2.321330
2013-01-06  0.115119 -1.631890  0.728192 -0.036008

In [19]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [20]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [21]:
df.values

array([[-2.13220538, -0.61483123,  1.18066603, -0.36189827],
       [ 0.23950357,  0.98985594,  0.25559229, -1.85963471],
       [ 1.00891262, -0.86544285, -0.83682651,  0.16054105],
       [ 0.3812615 , -0.43687487,  0.41522467, -0.72250442],
       [-0.22543726,  0.91592356, -0.74684319, -2.32133033],
       [ 0.1151193 , -1.63189039,  0.72819185, -0.03600835]])

In [22]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.102141 -0.273877  0.166001 -0.856806
std    1.074095  1.034371  0.806807  1.012143
min   -2.132205 -1.631890 -0.836827 -2.321330
25%   -0.140298 -0.802790 -0.496234 -1.575352
50%    0.177311 -0.525853  0.335408 -0.542201
75%    0.345822  0.577724  0.649950 -0.117481
max    1.008913  0.989856  1.180666  0.160541

In [23]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -2.132205    0.239504    1.008913    0.381261   -0.225437    0.115119
B   -0.614831    0.989856   -0.865443   -0.436875    0.915924   -1.631890
C    1.180666    0.255592   -0.836827    0.415225   -0.746843    0.728192
D   -0.361898   -1.859635    0.160541   -0.722504   -2.321330   -0.036008

In [24]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.361898  1.180666 -0.614831 -2.132205
2013-01-02 -1.859635  0.255592  0.989856  0.239504
2013-01-03  0.160541 -0.836827 -0.865443  1.008913
2013-01-04 -0.722504  0.415225 -0.436875  0.381261
2013-01-05 -2.321330 -0.746843  0.915924 -0.225437
2013-01-06 -0.036008  0.728192 -1.631890  0.115119

In [28]:
df.sort_index(axis=0,ascending=False)

                   A         B         C         D
2013-01-06  0.115119 -1.631890  0.728192 -0.036008
2013-01-05 -0.225437  0.915924 -0.746843 -2.321330
2013-01-04  0.381261 -0.436875  0.415225 -0.722504
2013-01-03  1.008913 -0.865443 -0.836827  0.160541
2013-01-02  0.239504  0.989856  0.255592 -1.859635
2013-01-01 -2.132205 -0.614831  1.180666 -0.361898

In [29]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-06  0.115119 -1.631890  0.728192 -0.036008
2013-01-03  1.008913 -0.865443 -0.836827  0.160541
2013-01-01 -2.132205 -0.614831  1.180666 -0.361898
2013-01-04  0.381261 -0.436875  0.415225 -0.722504
2013-01-05 -0.225437  0.915924 -0.746843 -2.321330
2013-01-02  0.239504  0.989856  0.255592 -1.859635

In [30]:
df['A']

2013-01-01   -2.132205
2013-01-02    0.239504
2013-01-03    1.008913
2013-01-04    0.381261
2013-01-05   -0.225437
2013-01-06    0.115119
Freq: D, Name: A, dtype: float64

In [31]:
df[0:3]

                   A         B         C         D
2013-01-01 -2.132205 -0.614831  1.180666 -0.361898
2013-01-02  0.239504  0.989856  0.255592 -1.859635
2013-01-03  1.008913 -0.865443 -0.836827  0.160541

In [32]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02  0.239504  0.989856  0.255592 -1.859635
2013-01-03  1.008913 -0.865443 -0.836827  0.160541
2013-01-04  0.381261 -0.436875  0.415225 -0.722504

In [33]:
df.loc[:,['A','B']]

                   A         B
2013-01-01 -2.132205 -0.614831
2013-01-02  0.239504  0.989856
2013-01-03  1.008913 -0.865443
2013-01-04  0.381261 -0.436875
2013-01-05 -0.225437  0.915924
2013-01-06  0.115119 -1.631890

In [34]:
dates[0]

Timestamp('2013-01-01 00:00:00', freq='D')

In [35]:
df.loc[dates[0]]

A   -2.132205
B   -0.614831
C    1.180666
D   -0.361898
Name: 2013-01-01 00:00:00, dtype: float64

In [36]:
df.loc['20130102',['A','B']]

A    0.239504
B    0.989856
Name: 2013-01-02 00:00:00, dtype: float64

In [37]:
df[df.A > 0]

                   A         B         C         D
2013-01-02  0.239504  0.989856  0.255592 -1.859635
2013-01-03  1.008913 -0.865443 -0.836827  0.160541
2013-01-04  0.381261 -0.436875  0.415225 -0.722504
2013-01-06  0.115119 -1.631890  0.728192 -0.036008

In [38]:
df.at[dates[0],'A'] = 0

In [39]:
df

                   A         B         C         D
2013-01-01  0.000000 -0.614831  1.180666 -0.361898
2013-01-02  0.239504  0.989856  0.255592 -1.859635
2013-01-03  1.008913 -0.865443 -0.836827  0.160541
2013-01-04  0.381261 -0.436875  0.415225 -0.722504
2013-01-05 -0.225437  0.915924 -0.746843 -2.321330
2013-01-06  0.115119 -1.631890  0.728192 -0.036008

In [40]:
df.iat[0,1] = 1

In [41]:
df

                   A         B         C         D
2013-01-01  0.000000  1.000000  1.180666 -0.361898
2013-01-02  0.239504  0.989856  0.255592 -1.859635
2013-01-03  1.008913 -0.865443 -0.836827  0.160541
2013-01-04  0.381261 -0.436875  0.415225 -0.722504
2013-01-05 -0.225437  0.915924 -0.746843 -2.321330
2013-01-06  0.115119 -1.631890  0.728192 -0.036008

In [42]:
df.A

2013-01-01    0.000000
2013-01-02    0.239504
2013-01-03    1.008913
2013-01-04    0.381261
2013-01-05   -0.225437
2013-01-06    0.115119
Freq: D, Name: A, dtype: float64

In [43]:
df['A']

2013-01-01    0.000000
2013-01-02    0.239504
2013-01-03    1.008913
2013-01-04    0.381261
2013-01-05   -0.225437
2013-01-06    0.115119
Freq: D, Name: A, dtype: float64